.login{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}
.login__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__button{
    color: white !important;
    border: 1px solid white !important;
    border-radius: 30px !important;
    padding:10px 30px  !important;
    margin: 10px !important;
}